# Google Apps Script Web App Deployment URL
# See README.md for instructions on deploying Code.gs and getting this URL
VITE_GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzUmqQ99M5jev-aqz-JZyesoKlJAqDblgmdmChc6geEEI0EiFEWAi_pZoUMuqlA0NrJ/exec
